{% extends "_base.html" %}
{% block content %}
    <h1>Welcome to the about us page</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos dignissimos fugiat facilis beatae quod, iure optio, consectetur nostrum quasi esse quo illo architecto nulla eveniet cumque, aspernatur natus doloribus debitis.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit magni modi quae animi aut deserunt. Possimus obcaecati facilis et repellendus modi maxime saepe molestiae facere earum! Distinctio aliquid tempora quis!
    </p>
{% endblock %}