{% extends "_base.html" %}

{% block title %} About {% endblock %}

{% block content %} 

<p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit deleniti ex recusandae nihil optio quod eaque magnam obcaecati nostrum eos doloremque id, fugit et exercitationem! Nostrum maxime perspiciatis officiis sint!
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit deleniti ex recusandae nihil optio quod eaque magnam obcaecati nostrum eos doloremque id, fugit et exercitationem! Nostrum maxime perspiciatis officiis sint!
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit deleniti ex recusandae nihil optio quod eaque magnam obcaecati nostrum eos doloremque id, fugit et exercitationem! Nostrum maxime perspiciatis officiis sint!
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit deleniti ex recusandae nihil optio quod eaque magnam obcaecati nostrum eos doloremque id, fugit et exercitationem! Nostrum maxime perspiciatis officiis sint!

</p>
{% endblock %}